{% extends "base.html" %}

{% block content %}

<h2 class="bemvindo">Seja bem-vindo 💙</h2>

<div class="agenda">
    <form method="POST">
        <div class="mb-3">
    <label for="Adicinar" class="form-label">Titulo da Tarefa</label>
    <input type="tarefa" class="form-control" name="titulo-tarefa" aria-describedby="ajudaNomeTarefa" required>
    <div id="ajudaNomeTarefa" class="form-text">Use um nome da tarefa que seja descritivo.</div>
        </div>

  <div class="mb-3">
       <label for="data-conclusao" class="form-label">Data de conclusão</label>
       <input type="date" class="form-control" name = "data-conclusao" id="data-conclusao">
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>

        <input type="text"
               name="titulo_tarefa"
               id="titulo_tarefa"
               placeholder="Título da tarefa"
               required>

        <input type="date"
               name="data_conclusao"
               id="data_conclusao">

        <button type="submit">Adicionar</button>
    </form>
        <p class="tarefa">
            {{ tarefa.titulo_tarefa }} - {{ tarefa.data_conclusao }}
        </p>
   
</div>

{% endblock %}



<!-- Metódos HTTP:
GET -> "pega" (recupera/obtém) as informações
POST -> "envia" (cadastra/inclui/adiciona) as informações
UPDATE-> "atualiza" as informações
DELETE -> "apaga" as informações (DELETE)
CRUD -> Create, Read, Update, Delete
-->

<!-- Códigos de retorno:
 2xx - Sucesso
 3xx - Sucesso, mas redirecionando
 4xx - Não encontrado (falha na REQUISIÇÃO)
 5xx - Erro do servidor (falha na RESPOSTA)
-->